*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
body {
  padding-top: 50px;
  font-size: 20px;
  /* font-family: 'Varela Round', sans-serif; */
  color: white;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
}

.container {
  padding: 0;
  width: 600px;
  /* background-color: #9c19e0; */
  border-radius: 5px;
  position: relative;
  border: 1px solid black;
}

.input-section {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 10px;
}

form {
  width: 100%;
  display: flex;
}

.field-wrap {
  margin-right: 5px;
  width: 100%;
}
.field-wrap input {
  width: 100%;
}

.messages-section {
  background-color: magenta;
  padding: 10px;
}

li {
  list-style-type: none;
}

.list-item {
  animation: fadein 1s;
  animation-name: fadein;
  display: flex;
  justify-content: space-between;
  background-color: blue;
  margin: 5px 0;
  padding: 5px;
}

.list-item button {
  padding: 5px;
}

.hidden {
  display: none;
}

.animation-remove {
  opacity: 0;
  transition: all 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
