*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  background-color: rgb(219, 219, 219);
}

h2 {
  font-size: 4rem;
  margin-bottom: 10px;
}

h3 {
  margin-top: 10px;
}

fieldset {
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
}

legend {
  color: royalblue;
  font-weight: 700;
}

.header h2 {
  padding: 0 15px;
  margin-bottom: 5px;
}

.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}

.confirmed-booking {
  width: 800px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  grid-template-areas:
    'item1 item2'
    'item3 item4';
  animation: fadein 0.5s ease-in;
}

.confirmed-booking ul {
  padding: 5px;
  list-style-type: none;
}

.confirmed-booking li {
  padding: 2px;
}

.confirmed-booking span {
  display: block;
  padding: 5px;
}

.confirmed-booking h4 {
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(65, 225, 137, 0.4);
  border-radius: 5px;
}

.form-container {
  width: 800px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  grid-template-areas:
    'item1 item2'
    'item3 item4'
    'item5 item5';
}

.form {
  width: 500px;
  border: 2px solid black;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.form-input {
  display: inline;
}

input[type='text'],
input[type='date'],
input[type='password'],
input[type='number'],
input[type='email'] {
  width: 100%;
  font-size: inherit;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgb(65, 105, 225);
  border-radius: 5px;
  transition: background-color 0.2s ease-in;
}
input[type='submit'],
input[type='reset'] {
  width: 120px;
  font-size: inherit;
  margin-right: 10px;
  padding: 8px;
  border: 1px solid rgb(58, 83, 156);
  border-radius: 5px;
}

.button {
  appearance: none;
  border: 1px solid royalblue;
  background-color: rgb(72, 118, 255);
  color: #fff;
  font-size: inherit;
  padding: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: royalblue;
}

.label {
  display: block;
}

.errors {
  width: 800px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  animation: fadein 0.5s ease-in;
}

.error {
  background-color: rgba(255, 168, 168, 0.5);
}

.errors ul {
  padding: 10px;
}

.errors li {
  list-style-type: none;
  background-color: rgba(255, 168, 168, 0.5);
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

.name {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hidden {
  display: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
